<!DOCTYPE html>
<html xmlns="http://w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <base target="_blank" />
</head>
<body>

<div style="border: 1px gray solid;padding: 5px 5px;margin: 10px 0px 10px 0px;">
    企业名称：<input type="text" id="companynamesearch">
    <button class="btn btn-primary" id="queryTable">查询</button>
</div>

<table id="table">
</table>

<!-- 模态框（Modal） -->
<div class="modal fade bd-example-modal-lg" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" >
                <h4 class="modal-title" id="logoinModalLabel" style="display: inline;">企业详情</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-detail">
                    <tr>
                        <th>企业名称：</th>
                        <td>
                            <span id="companyname_detail"></span>
                        </td>
                        <td rowspan="5" align="center" width="360px;">
                            <div id="imgborder" style="vertical-align:middle; height: 210px;width: 320px; padding-bottom: 5px; padding-top: 5px;">
                                <img src="" id="image_detail" style="width:320px;height: 200px;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>企业性质：</th>
                        <td>
                            <span id="type_detail" ></span><br>
                        </td>
                    </tr>
                    <tr>
                        <th>企业地址：</th>
                        <td>
                            <span id="location_detail"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>联 系 人：</th>
                        <td>
                            <span id="contact_detail"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>联系电话：</th>
                        <td>
                            <span id="telephone_detail"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>企业首页：</th>
                        <td>
                            <a href="" id="website_detail"></a>
                        </td>
                    </tr>

                    <tr>
                        <th colspan="3" style="alignment: center">企业介绍</th>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div id="introduction_detail"></div><br>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="reset()">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>

    function queryDataById(row_id) {

        var div = document.getElementById("introduction_detail");
        while(div.hasChildNodes()) //当div下还存在子节点时 循环继续
        {
            div.removeChild(div.firstChild);
        }

        $.ajax({
            url: "query_companybyid.json?companyId=" + row_id,
            method: "GET",
            dataType: "json",
            success: function (data) {
                if (data) {
                    $('#modalAction').html("详情");
                    $('#companyname_detail').text(data.data.companyName);
                    $('#location_detail').text(data.data.location);
                    $('#contact_detail').text(data.data.contact);
                    $('#telephone_detail').text(data.data.telephone);
                    $('#website_detail').text(data.data.website);
                    $('#website_detail').attr("href", "http://"+data.data.website);
                    var types = ["国有企业","私营企业","集体企业","合资企业","外资企业","其他"];
                    $('#type_detail').text(types[data.data.type]);
                    $('#image_detail').attr("src",data.data.imgPath);
                    $('#introduction_detail').append("<div id='intro_child'>"+data.data.introduction+"</div>")
                    $('#detailModal').modal('toggle');
                }
            }
        });

    }

    function initQuery() {
        $('#table').bootstrapTable(getTable());
    }

    function getTable() {
        return {
            method: 'GET',
            dataType: 'json',
            contentType: "application/json;charset=UTF-8",
            cache: false,
            striped: true,                              //是否显示行间隔色
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            url: "query_company.json",
            width: $(window).width(),
            pagination: true,                  //分页开关
            queryParams: function queryParams(params) {
                var searchParams = getSearchParams();
                searchParams.page = this.pageNumber;
                searchParams.size = this.pageSize;
                return searchParams;
            },
            minimumCountColumns: 2,
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 7,                       //每页的记录行数（*）
            pageList: [7, 12, 20],             //可供选择的每页的行数（*）
            uniqueId: "companyId",                     //每一行的唯一标识，一般为主键列
            showToggle: true,
            responseHandler: responseHandler,
            onLoadError: function (status) {
                alert("数据加载失败，请刷新后重试。")
            },
            columns: [
                {
                    field: 'companyName',
                    title: '企业名称',
                    visible: true
                },
                {
                    field: 'contact',
                    title: '联系人',
                    visible: true
                },
                {
                    field: 'telephone',
                    title: '联系电话',
                    visible: true
                },
                {
                    field: 'location',
                    title: '企业地址',
                    visible: true
                },
                {
                    field: 'website',
                    title: '企业首页',
                    visible: true,
                    formatter:function (value, row, index){
                        return "<a href='http://"+ value +"'>" + value + "</a>";
                    }
                },
                {
                    field: 'companyId',
                    title: '操作',
                    formatter: function (value, row, index) {
                        var operation = '&nbsp;&nbsp;<button class="btn-success btn" onclick="queryDataById(' + row.companyId + ')" >详情</button>';
                        return operation;
                    }
                }
            ]
        }
    }

    function responseHandler(data) {
        return {
            "rows": data.data.rows,
            "total": data.data.total
        };
    }

    function getSearchParams() {
        var param = {};
        param.companyName = $('#companynamesearch').val();
        return param;
    }

    $(function () {
        initQuery();
        $('#queryTable').click(function () {
            $('#table').bootstrapTable('refresh', getTable());
        });
    });

    function reset(){
        window.location.reload();
    }
</script>
</body>
</html>