<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>设施蔬菜知识库系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap-table/bootstrap-table.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendor/linearicons/style.css">
    <link rel="stylesheet" href="/static/vendor/chartist/css/chartist-custom.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <!-- ICONS -->
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon.png">
    <!--引入富文本编辑器-->
    <script src="/static/editor/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="/static/editor/tinymce/js/tinymce/jquery.tinymce.min.js"></script>
    <script src="/static/editor/tinymce/js/tinymce/icons/default/icons.min.js"></script>
    <style>
        .table-detail > tbody > tr:nth-of-type(odd) {
            background-color: #F5F7EF;
        }
        .table-detail th {
            font-size: 18px;
            vertical-align: middle;
        }
        .table-detail td{
            font-size: 18px;
            vertical-align: middle;
        }
    </style>

</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#227700">
        <span style="font-size: 40px;color: #ffffff; float: left;margin-left: 200px;padding-top: 10px;">设施蔬菜知识库系统</span>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login.html" style="font-size: 16px; color: #FFFFFF"><span class="glyphicon glyphicon-log-in" style="font-size: 16px; color: #FFFFFF">&nbsp;</span>登录</a></li>
        </ul>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar" style="width: 250px;">
        <div class="sidebar-scroll">
            <nav>
                <ul id="mainNav" class="nav">
                    <li><a href="/index.html" class=""><i class="lnr lnr-home"></i> <span>首页</span></a></li>
                    <li>
                        <a id="vegeInfoSubButton" href="#vegeInfoSubPages" data-toggle="collapse" class="collapsed"><i
                                class="lnr lnr-dice"></i></i> <span>蔬菜信息管理</span> <i
                                class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="vegeInfoSubPages" class="collapse ">
                            <ul id="vegeInfoSubNav" class="nav">
                                <li><a href="/vegeinfo.html" class="">蔬菜基本信息查询</a></li>
                                <li><a href="/variety.html" class="">蔬菜品种查询</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a id="vegeKnowledgeSubButton" href="#vegeknowSubPages" data-toggle="collapse" class="collapsed"><i
                                class="lnr lnr-chart-bars"></i></i> <span>蔬菜知识查询</span> <i
                                class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="vegeknowSubPages" class="collapse ">
                            <ul id="vegeknowSubNav" class="nav">
                                <li><a href="/vegeknowledge.html" class="">蔬菜知识查询</a></li>
                                <li><a href="/standard.html" class="">蔬菜标准查询</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a id="deseaseKnowledgeSubButton" href="#deseaseSubPages" data-toggle="collapse" class="collapsed"><i
                                class="lnr lnr-linearicons"></i></i> <span>病害知识查询</span> <i
                                class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="deseaseSubPages" class="collapse ">
                            <ul id="deseaseSubNav" class="nav">
                                <li><a href="/disease.html" class="">疾病信息管理</a></li>
                                <li><a href="/drug.html" class="">药品信息管理</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a id="enterpriseSubButton" href="#enterpriseSubPages" data-toggle="collapse" class="collapsed"><i
                                class="lnr lnr-diamond"></i></i> <span>企业风采展示</span> <i
                                class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="enterpriseSubPages" class="collapse ">
                            <ul id="enterpriceSubNav" class="nav">
                                <li><a href="/company.html" class="">企业风采展示</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <!-- Javascript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/bootstrap-table/bootstrap-table.js"></script>
    <script src="/static/vendor/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <div class="row" style="margin-left: 5px">
                    <div th:replace="~{${#strings.toLowerCase(page)}::html}"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
<div class="clearfix"></div>
<footer>
    <div class="container-fluid">
        <p class="copyright">&copy; 中国农业大学 2017-2021 . All Rights Reserved.</p>
    </div>
</footer>
</div>
<!-- END WRAPPER -->
</body>

<script>
    $(function () {
        pageActive();
    });

    function pageActive() {
        var pageUri = window.location.pathname;
        var active = false;
        $('#mainNav').children("li").each(function () {
            var link = $(this).find("a")[0];
            var href = link.getAttribute("href");
            if (href == pageUri) {
                $(link).addClass("active");
                active = true;
            }
        });
        if (active) {
            return;
        }

        // 主页面没有选中的查看查询子菜单
        $('#querySubNav').children("li").each(function () {
            var link = $(this).find("a")[0];
            var href = link.getAttribute("href");
            if (href == pageUri) {
                $(link).addClass("active");
                $('#querySubButton').addClass("active");
                $('#querySubPages').addClass("in");
                $('#querySubPages').attr("aria-expanded", true);
                active = true;
            }
        });
        if (active) {
            return;
        }

        // 主页面没有选中的查看分析子菜单
        $('#analysisSubNav').children("li").each(function () {
            var link = $(this).find("a")[0];
            var href = link.getAttribute("href");
            if (href == pageUri) {
                $(link).addClass("active");
                $('#analysisSubButton').addClass("active");
                $('#analysisSubPages').addClass("in");
                $('#analysisSubPages').attr("aria-expanded", true);
                active = true;
            }
        });
        if (active) {
            return;
        }

        // 主页面没有选中的查看分析子菜单
        $('#processSubNav').children("li").each(function () {
            var link = $(this).find("a")[0];
            var href = link.getAttribute("href");
            if (href == pageUri) {
                $(link).addClass("active");
                $('#processSubButton').addClass("active");
                $('#processSubPages').addClass("in");
                $('#processSubPages').attr("aria-expanded", true);
                active = true;
            }
        });
        if (active) {
            return;
        }
        // 主页面没有选中的查看分析子菜单
        $('#systemSubNav').children("li").each(function () {
            var link = $(this).find("a")[0];
            var href = link.getAttribute("href");
            if (href == pageUri) {
                $(link).addClass("active");
                $('#systemSubButton').addClass("active");
                $('#systemSubPages').addClass("in");
                $('#systemSubPages').attr("aria-expanded", true);
                active = true;
            }
        });
        if (active) {
            return;
        }
    }

</script>

</html>
