<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div style="border: 1px gray solid;padding: 5px 5px;margin: 10px 0px 10px 0px;">
    请输入要查询的蔬菜名称：<input type="text" id="vegenamesearch">
    <button class="btn btn-primary" id="queryTable">查询</button>

</div>

<table id="table">
</table>

<!-- 模态框（Modal） -->
<div class="modal fade bd-example-modal-lg" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" >
                <h4 class="modal-title" id="logoinModalLabel" style="display: inline;">蔬菜详情</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-detail">
                    <tr>
                        <th>蔬菜名称：</th>
                        <td>
                            <span id="vegename_detail"></span>
                        </td>
                        <td rowspan="5" align="center">
                            <div id="imgborder" style="vertical-align:middle; height: 210px;width: 320px; padding-bottom: 5px; padding-top: 5px;">
                                <img src="" id="image_detail" style="width:320px;height: 200px;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>别   名：</th>
                        <td>
                            <span text="" id="alias_detail" ></span><br>
                        </td>
                    </tr>
                    <tr>
                        <th>农业生物学分类：</th>
                        <td>
                            <span text="" id="classification_detail"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>主要品种：</th>
                        <td>
                            <span text="" id="varieties_detail"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td><br></td>
                    </tr>
                    <tr>
                        <th>生长周期：</th>
                        <td colspan="2">
                            <table text="" id="breedstage_detail" class="table-striped">
                                <thead>
                                    <tr>
                                        <th width="200px">生长周期名称</th>
                                        <th width="620px">定义</th>
                                        <th width="100px">时长</th>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <th colspan="3">基本介绍</th>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div id="introduction_detail"></div><br>
                        </td>
                    </tr>
                    <tr>
                        <th>更新时间：</th>
                        <td colspan="2">
                            <span text="" id="updatetime_detail"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>备   注：</th>
                        <td colspan="2">
                            <span text="" id="note_detail"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
    <script>

        function queryDataById(row_id) {

            $.ajax({
                url: "query_vegebyid.json?vegeId=" + row_id,
                method: "GET",
                dataType: "json",
                success: function (data) {
                    if (data.data) {
                        $('#modalAction').html("详情");
                        //清空
                        $('#intro_child').remove();
                        $('#breedstage_detail').remove();
                        //装载
                        $('#vegename_detail').text(data.data.vegeName);
                        $('#alias_detail').text(data.data.alias);
                        $('#classification_detail').text(data.data.classification);
                        $('#image_detail').attr("src",data.data.imgPath);
                        $('#introduction_detail').append("<div id='intro_child'>"+data.data.introduction+"</div>")
                        $('#varieties_detail').text(data.data.varieties);
                        $('#note_detail').text(data.data.note);
                        $('#updatetime_detail').text(data.data.updateTime);
                        //$('#vegeid_detail').val(data.data.vegeId);
                        $('#detailModal').modal('toggle');
                        if(data.data.breedStageList){
                            $.each(data.data.breedStageList,function(index,item){
                                $('#breedstage_detail').append("<tr id='breedstage"+index+"'><td>"+item.stageName+"</td><td>"+item.definition+"</td><td>"+item.duration+"</td></tr>");
                            });
                        }
                    }
                }
            });

        }

        function initQuery() {
            $('#table').bootstrapTable(getTable());
        }

        function getTable() {
            return {
                method: 'GET',
                dataType: 'json',
                contentType: "application/json;charset=UTF-8",
                cache: false,
                striped: true,                              //是否显示行间隔色
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                url: "query_vege.json",
                width: $(window).width(),
                pagination: true,                  //分页开关
                queryParams: function queryParams(params) {
                    var searchParams = getSearchParams();
                    searchParams.page = this.pageNumber;
                    searchParams.size = this.pageSize;
                    return searchParams;
                },
                minimumCountColumns: 2,
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 7,                       //每页的记录行数（*）
                pageList: [7, 12, 20],             //可供选择的每页的行数（*）
                uniqueId: "vegeId",                     //每一行的唯一标识，一般为主键列
                showToggle: false,
                responseHandler: responseHandler,
                onLoadError: function (status) {
                    alert("数据加载失败，请刷新后重试。")
                },
                columns: [
                    {
                        field: 'number',
                        title: '序号',
                        formatter: function (value, row, index) {
                            return index+1;
                        }
                    },
                    {
                        field: 'vegeName',
                        title: '蔬菜名称',
                        visible: true
                    },
                    {
                        field: 'classification',
                        title: '生物学分类',
                        visible: true,
                        formatter:function (classification) {
                            return showClass(classification);
                        }
                    },
                    {
                        field: 'updateTime',
                        title: '更新时间',
                        visible: true
                    },
                    {
                        field: 'note',
                        title: '备注',
                        visible: true
                    },
                    {
                        field: 'vegeId',
                        title: '操作',
                        formatter: function (value, row, index) {
                            var operation = '&nbsp;&nbsp;<button class="btn-success btn" onclick="queryDataById(' + row.vegeId + ')" >详情</button>';
                            return operation;
                        }
                    }
                ]
            }
        }

        function responseHandler(data) {
            return {
                "rows": data.data.rows,
                "total": data.data.total
            };
        }

        function getSearchParams() {
            var param = {};
            param.vegeName = $('#vegenamesearch').val();
            return param;
        }

        function reset(){
            window.location.reload();
        }

        $(function () {
            initQuery();
            $('#queryTable').click(function () {
                $('#table').bootstrapTable('refresh', getTable());
            });
        });
        function showClass(classification) {
            var classes = ['根菜类','白菜和甘蓝类','芥菜类','茄果类','瓜类','豆类','葱蒜类','绿叶菜类','薯芋类','水生蔬菜','多年生蔬菜','食用菌类','芽苗菜类','野生蔬菜'];
            return classes[classification];
        }
    </script>
</body>
</html>