<!DOCTYPE html>
<html xmlns="http://w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script>
        //装载富文本编辑器
        var baseURL = "/";
        tinymce.init({
            selector: '#introduction',
            language:'zh_CN',//注意大小写
            height: 500,
            plugins: 'paste importcss code table advlist fullscreen imagetools  textcolor colorpicker hr  autolink link image lists preview media wordcount',
            toolbar: ' formatselect | fontsizeselect | forecolor backcolor | bold italic underline strikethrough | image  table | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | preview removeformat  hr | paste code  link | undo redo | fullscreen',
            images_upload_url: baseURL + "upload_img",//图片上传地址
            images_upload_credentials: false,
            image_dimensions: false,
            image_class_list: [
                {title: '无', value: ''},
                {title: '预览', value: 'preview'},
            ],
            insert_button_items: 'image link | inserttable',
            paste_merge_formats: true,
            nonbreaking_force_tab: false,
            imagetools_toolbar: 'rotateleft rotateright | flipv fliph | editimage imageoptions',
            images_upload_handler: function (blobInfo, success, failure) {
                var xhr, formData;

                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', baseURL + "upload_img" );

                xhr.onload = function () {
                    var json;
                    console.log(xhr.responseText);
                    json = JSON.parse(xhr.responseText);
                    //json.location = json.url;
                    success(json.location);
                };
                formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());
                console.log(blobInfo.blob());
                xhr.send(formData);
                console.log(xhr.responseText)
            }
        });
    </script>
</head>
<body>
<!-- 按钮触发模态框 -->
<button class="btn btn-primary" data-toggle="modal" onclick="insertData()">
    添加数据
</button>

<div style="border: 1px gray solid;padding: 5px 5px;margin: 10px 0px 10px 0px;">
    企业名称：<input type="text" id="companynamesearch">
    <button class="btn btn-primary" id="queryTable">查询</button>

</div>

<table id="table">
</table>

<!-- 模态框（Modal） -->
<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="reset()">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel"><span id="modalAction">添加</span>数据
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <table style="width: 100%" class="table-striped">
                        <tbody>
                        <tr>
                            <td><span>企业名称：</span></td>
                            <td>
                                <input type="text" id="companyname" value="" style="width: 500px;">
                            </td>
                        </tr>
                        <tr>
                            <td><span>企业性质：</span></td>
                            <td>
                                <select id="type" value=""><option value="5">请选择</option></select>
                            </td>
                        </tr>
                        <tr>
                            <td><span>企业地址：</span></td>
                            <td>
                                <input type="text" id="location" value="" style="width: 500px;">
                            </td>
                        </tr>
                        <tr>
                            <td><span>联 系 人：</span></td>
                            <td>
                                <input type="text" id="contact" value=""  style="width: 500px;">
                            </td>
                        </tr>
                        <tr>
                            <td><span>联系电话：</span></td>
                            <td>
                                <input type="text" id="telephone" value=""  style="width: 500px;">
                            </td>
                        </tr>
                        <tr>
                            <td><span>企业首页：</span></td>
                            <td>
                                <input type="text" id="website" value=""  style="width: 500px;">
                            </td>
                        </tr>
                        <tr>
                            <td><span>上传图片：</span></td>
                            <td>
                                <input type="file" id="imgupload" value="" onchange="uploadImg()">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div id="imgborder" style="height: 210px;width: 320px; padding-bottom: 5px; padding-top: 5px;margin-left: 210px; border: dotted">
                                    <img src="" id="imgload" width="300" height="200" style="display: none"><br>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">企业介绍：</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <textarea id="introduction"></textarea><br>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="hidden" id="companyid">
                    <input type="hidden" id="imgpath">
                    <input type="hidden" id="imguuid">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="reset()">关闭
                </button>
                <button onclick="submitData()" type="button" class="btn btn-primary">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 模态框（Modal） -->
<div class="modal fade bd-example-modal-lg" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                    企业名称：<label text="" id="companyname_detail" value=""></label><br>
                    企业风采：<div id="imgborder2" style="height: 210px;width: 320px; padding-bottom: 5px; padding-top: 5px; border: dotted">
                                <img src="" id="image_detail" style="width:300px;height: 200px;"></img>
                            </div><br>
                    企业性质：<label text="" id="type_detail" value=""></label><br>
                    企业介绍：<br><label text="" id="introduction_detail" value=""></label><br>
                    企业地址：<label text="" id="location_detail" value=""></label><br>
                    联 系 人：<label text="" id="contact_detail" value=""></label><br>
                    联系电话：<label text="" id="telephone_detail" value=""></label><br>
                    企业首页：<label text="" id="website_detail" value=""></label><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="reset()">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>
    function insertData() {

        $('#myModal').modal("toggle");
        $('#companyname').val("");
        //装载蔬菜名称，选择
        uri = "load_companytype.json";
        $.ajax({
            url: uri,
            method: "Get",
            dataType: "json",
            success: function (data) {
                if (data.data.companyTypeMap) {
                    $.each(data.data.companyTypeMap,function(index,item){
                        $('#type').append(new Option(item,index));
                    });
                }
            }
        });
        $('#location').val("");
        $('#contact').val("");
        $('#telephone').val("");
        $('#website').val("");
        $('#imgpath').val("");
        $('#imguuid').val("");
        $('#companyid').val("");
        $('#modalAction').html("添加");
    }


    function updateData(row_id) {

        //后台数据回传
        $.ajax({
            url: "query_companybyid.json?companyId=" + row_id,
            method: "GET",
            dataType: "json",
            success: function (data) {
                if (data) {
                    $('#modalAction').html("修改");
                    $('#companyname').val(data.data.companyName);
                    $.each(data.data.companyTypeMap,function(index,item){
                        $('#type').append(new Option(item,index));
                        if(data.data.type==index){
                            $('#type').val(index)
                        }
                    });

                    //修改图片
                    $('#imgload').attr("src", data.data.imgPath);
                    $('#imgload').show()
                    //修改介绍
                    tinymce.activeEditor.setContent(data.data.introduction);

                    $('#location').val(data.data.location);
                    $('#contact').val(data.data.contact);
                    $('#telephone').val(data.data.telephone);
                    $('#website').val(data.data.website);
                    $('#companyid').val(data.data.companyId);
                    $('#imguuid').val(data.data.imgUuid);
                    $('#imgpath').val(data.data.imgPath);
                    $('#myModal').modal('toggle');
                }
            }
        });

    }

    function uploadImg(){
        var file = $('#imgupload')[0].files[0];//获取选择的文件
        var formData=new FormData();//构建form表单
        formData.append("file",file);
        var name = file.name;
        // 获取文件后缀
        var sfIndex=name.lastIndexOf(".");//后缀位置的.的位置
        var ext= name.substring(sfIndex,name.length).toUpperCase();//截取后缀
        console.log(ext)
        // 文件大小  单位:M
        var size=parseInt(file.size/1024/1024);
        //判断文件类型,后台也要做判断
        if(ext !='.PNG' && ext !='.GIF' && ext !='.JPG' && ext !='.JPEG' && ext !='.BMP'){
            vmToast.show("文件类型错误,请上传正确图片类型(png、gif、jpg、jpeg、bmp)");
            return false;
        }
        if(size>10){//文件过大,部分服务器流量有限制,而且后续打开会比较慢
            alert("文件已大于10M，请换个小点的图片");
            return false;
        }

        $.ajax({
            url: "uploadimg",
            method: "POST",
            data: formData,
            contentType:false,
            dataType: "json",
            processData: false,
            success: function (data) {
                if (data) {
                    console.log("回显了图片");
                    $('#imgpath').val(data.data.path);
                    var imgPath = data.data.path;
                    //$('#imgload').attr("src","https://nimg.ws.126.net/?url=http%3A%2F%2Fdingyue.ws.126.net%2F2021%2F0818%2F96d73724j00qy0uqu001xc000hs00a1g.jpg&thumbnail=650x2147483647&quality=80&type=jpg");
                    $('#imgload').attr("src","http://127.0.0.1:8080/show_img?imgPath="+imgPath);
                    $('#imgload').show();
                    $('#imguuid').val('');
                    alert("上传成功！")
                }
            },
            error: function(ajaxobj) { //有异常
                alert("异常："+ajaxobj.responseText);
            }
        });
    }

    function queryDataById(row_id) {

        var div = document.getElementById("introduction_detail");
        while(div.hasChildNodes()) //当div下还存在子节点时 循环继续
        {
            div.removeChild(div.firstChild);
        }

        $.ajax({
            url: "query_companybyid.json?companyId=" + row_id,
            method: "GET",
            dataType: "json",
            success: function (data) {
                if (data) {
                    $('#modalAction').html("详情");
                    $('#companyname_detail').text(data.data.companyName);
                    $('#location_detail').text(data.data.location);
                    $('#contact_detail').text(data.data.contact);
                    $('#telephone_detail').text(data.data.telephone);
                    $('#website_detail').text(data.data.website);
                    if(data.data.type=="0"){
                        $('#type_detail').text("国有企业");
                    }else if(data.data.type=="1"){
                        $('#type_detail').text("私营企业");
                    }else if(data.data.type=="2"){
                        $('#type_detail').text("集体企业");
                    }else if(data.data.type=="3"){
                        $('#type_detail').text("合资企业");
                    }else if(data.data.type=="4"){
                        $('#type_detail').text("外资企业");
                    }else{
                        $('#type_detail').text("其他");
                    }
                    $('#image_detail').attr("src",data.data.imgPath);
                    $('#introduction_detail').append("<div id='intro_child'>"+data.data.introduction+"</div>")
                    $('#detailModal').modal('toggle');
                }
            }
        });

    }


    function deleteData(row_id) {
        if (!confirm("确定删除吗？")) {
            return;
        }
        $.ajax({
            url: "delete_company.json?companyId=" + row_id,
            method: "GET",
            dataType: "json",
            success: function (data) {
                if (data.data) {
                    alert("成功！");
                    window.location.reload();
                }
            }
        });
    }

    function submitData() {
        var uri;
        var content = tinymce.activeEditor.getContent();

        if(""==$('#companyname').val()||$('#companyname').val()==null){
            alert("请填写企业名称！");
            return;
        }
        if(""==content||content==null){
            alert("请填写企业介绍！");
            return;
        }
        if(""==$('#imgupload').val()||$('#imgupload').val()==null){
            alert("请上传企业图片！");
            return;
        }
        //增加联系方式的检查
        var telephone = $('#telephone').val();
        if(!(/^1[3-9]\d{9}$/s.test(telephone))&&!/^\d{3}-\d{7,8}|\d{4}-\d{7,8}$/.test(telephone)){
            alert("联系方式有误，请慎重填写！");
            return;
        }
        var data = {
            'companyName': $('#companyname').val(),
            'companyId': $('#companyid').val(),
            'type': $('#type').val(),
            'companyImg': $('#imgpath').val(),
            'introduction': content,
            'location': $('#location').val(),
            'contact': $('#contact').val(),
            'telephone': $('#telephone').val(),
            'website': $('#website').val(),
            'imguuid': $('#imguuid').val(),
        };
        if ($('#modalAction').html() == '添加') {
            uri = "add_company.json";
        } else {
            uri = "update_company.json";
            data.id = $('#companyId').val();
        }

        $.ajax({
            url: uri,
            method: "Post",
            dataType: "json",
            data: data,
            success: function (data) {
                if (data.data) {
                    alert("成功！");
                    window.location.reload();
                }
            }
        });
    }

    function initQuery() {
        $('#table').bootstrapTable(getTable());
    }

    function getTable() {
        return {
            method: 'GET',
            dataType: 'json',
            contentType: "application/json;charset=UTF-8",
            cache: false,
            striped: true,                              //是否显示行间隔色
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            url: "query_company.json",
            width: $(window).width(),
            pagination: true,                  //分页开关
            queryParams: function queryParams(params) {
                var searchParams = getSearchParams();
                searchParams.page = this.pageNumber;
                searchParams.size = this.pageSize;
                return searchParams;
            },
            minimumCountColumns: 2,
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 7,                       //每页的记录行数（*）
            pageList: [7, 12, 20],             //可供选择的每页的行数（*）
            uniqueId: "companyId",                     //每一行的唯一标识，一般为主键列
            showToggle: false,
            responseHandler: responseHandler,
            onLoadError: function (status) {
                alert("数据加载失败，请刷新后重试。")
            },
            columns: [
                {
                    field: 'number',
                    title: '序号',
                    formatter: function (value, row, index) {
                        return index+1;
                    }
                },
                {
                    field: 'companyName',
                    title: '企业名称',
                    visible: true
                },
                {
                    field: 'contact',
                    title: '联系人',
                    visible: true
                },
                {
                    field: 'telephone',
                    title: '联系电话',
                    visible: true
                },
                {
                    field: 'location',
                    title: '企业地址',
                    visible: true
                },
                {
                    field: 'website',
                    title: '企业首页',
                    visible: true
                },
                {
                    field: 'companyId',
                    width: '280px',
                    title: '操作',
                    formatter: function (value, row, index) {
                        var operation = '<button class="btn btn-primary" onclick="updateData(' + row.companyId + ')"  >修改</button>';
                        operation += '&nbsp;&nbsp;<button class="btn-danger btn" onclick="deleteData(' + row.companyId + ')" >删除</button>';
                        operation += '&nbsp;&nbsp;<button class="btn-success btn" onclick="queryDataById(' + row.companyId + ')" >详情</button>';

                        return operation;
                    }
                }
            ]
        }
    }

    function responseHandler(data) {
        return {
            "rows": data.data.rows,
            "total": data.data.total
        };
    }

    function getSearchParams() {
        var param = {};
        param.companyName = $('#companynamesearch').val();
        return param;
    }

    $(function () {
        initQuery();
        $('#queryTable').click(function () {
            $('#table').bootstrapTable('refresh', getTable());
        });
    });

    function reset(){
        window.location.reload();
    }
</script>
</body>
</html>