<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- 按钮触发模态框 -->
<button class="btn btn-primary" data-toggle="modal" onclick="insertData()">
    添加数据
</button>

<div style="border: 1px gray solid;padding: 5px 5px;margin: 10px 0px 10px 0px;">
    参数名称：<input type="text" id="paramnamesearch">
    生长周期：<input type="text" id="breedstagesearch">
    <button class="btn btn-primary" id="queryTable">查询</button>

</div>

<table id="table">
</table>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="reset()">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel"><span id="modalAction">添加</span>数据
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    参数名称：<input type="text" id="paramname" value="" style="width: 300px;"><br>
                    蔬菜名称：<select id="vegename" value="0" style="width:300px;">
                                <option>请选择</option>
                            </select><br>
                    生长周期：<select id="breedstage" value="0" style="width: 300px;">
                                <option>请选择</option>
                            </select><br>
                    参数类型：<label class="radio-inline">
                                <input type="radio" id="type1" value="0" name="type" checked="checked">土壤参数
                            </label><label class="radio-inline">
                                <input type="radio" id="type2" value="1" name="type">地面参数
                            </label><br>
                    参数单位：<input type="text" id="paramunit" value="" style="width: 300px;"><br>
                    参数上限：<input type="text" id="boundh" value="" style="width: 300px;"><br>
                    参数下限：<input type="text" id="boundl" value="" style="width: 300px;"><br>
                    备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：<textarea id="note" value="" style="width: 100%;height: 100px"></textarea><br>
                    <input type="hidden" id="epid">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="reset()">关闭
                </button>
                <button onclick="submitData()" type="button" class="btn btn-primary">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                    参数名称：<label text="" id="paramname_detail" value=""></label><br>
                    生长周期：<label text="" id="breedstage_detail" value=""></label><br>
                    参数类型：<label text="" id="type_detail" value=""></label><br>
                    参数单位：<label text="" id="paramunit_detail" value=""></label><br>
                    参数上限：<label text="" id="boundh_detail" value=""></label><br>
                    参数下限：<label text="" id="boundl_detail" value=""></label><br>
                    备   注：<label text="" id="note_detail" value=""></label><br>
                    更新时间：<label text="" id="updatetime_detail" value=""></label><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<script>

    function insertData() {
        $('#myModal').modal("toggle");
        $('#paramname').val("");
        //装载BreedStage
        uri = "load_vegename.json";
        $.ajax({
            url: uri,
            method: "Get",
            dataType: "json",
            success: function (data) {
                if (data.data.vegeNameMap) {
                    $.each(data.data.vegeNameMap,function(index,item){
                        $('#vegename').append(new Option(item,index));
                    });
                }
            }
        });
        $('#type1').val("");
        $('#boundh').val("");
        $('#boundl').val("");
        $('#paramunit').val("");
        $('#note').val("");
        $('#epid').val("");
        $('#modalAction').html("添加");
    }

    function updateData(row_id) {

        $.ajax({
            url: "query_envparambyid.json?epId=" + row_id,
            method: "GET",
            dataType: "json",
            success: function (data) {
                if (data) {
                    $('#modalAction').html("修改");
                    //导入蔬菜列表
                    $('#paramname').val(data.data.paramName);
                    if (data.data.vegeMap) {
                        $.each(data.data.vegeMap,function(index,item){
                            $('#vegename').append(new Option(item,index));
                            if(data.data.vegeName==item){
                                $('#vegename').val(index)
                            }
                        });
                    }
                    if (data.data.breedStageMap) {
                        $.each(data.data.breedStageMap,function(index,item){
                            $('#breedstage').append(new Option(item,index));
                            if(data.data.stageName==item){
                                $('#breedstage').val(index)
                            }
                        });
                    }
                    if(data.data.type=="0"){
                        $('#type1').attr("checked","checked");
                    }else {
                        $('#type2').attr("checked","checked");
                    }
                    $('#boundh').val(data.data.boundH);
                    $('#boundl').val(data.data.boundL);
                    $('#paramunit').val(data.data.paramUnit);
                    $('#note').val(data.data.note);
                    $('#epid').val(data.data.epId);
                    $('#myModal').modal('toggle');
                }
            }
        });

    }

    function queryDataById(row_id) {

        $.ajax({
            url: "query_envparambyid.json?epId=" + row_id,
            method: "GET",
            dataType: "json",
            success: function (data) {
                if (data) {
                    $('#modalAction').html("详情");
                    $('#paramname_detail').text(data.data.paramName);
                    if(data.data.type=="0"){
                        $('#type_detail').text("土壤参数");
                    }else {
                        $('#type_detail').text("地面参数");
                    }
                    $('#breedstage_detail').text(data.data.stageName);
                    $('#boundh_detail').text(data.data.boundH);
                    $('#boundl_detail').text(data.data.boundL);
                    $('#paramunit_detail').text(data.data.paramUnit);
                    $('#note_detail').text(data.data.note);
                    $('#updatetime_detail').text(data.data.updateTime);
                    $('#epid').text(data.data.epId);
                    $('#detailModal').modal('toggle');
                }
            }
        });

    }


    function deleteData(row_id) {
        if (!confirm("确定删除吗？")) {
            return;
        }
        $.ajax({
            url: "delete_envparam.json?epId=" + row_id,
            method: "GET",
            dataType: "json",
            success: function (data) {
                if (data.data) {
                    alert("成功！");
                    window.location.reload();
                }
            }
        });
    }

    function submitData() {
        var uri;
        if(""==$('#paramname').val()||$('#paramname').val()==null){
            alert("请填写参数名称！");
            return;
        }
        if("请选择"==$('#vegename').val()){
            alert("请选择蔬菜名称！");
            return;
        }
        if("请选择"==$('#breedstage').val()){
            alert("请选择所属生长阶段！");
            return;
        }
        //判断是否为数字
        var reg = /^[\+-]?(\d+\.?\d*|\.\d+|\d\.\d+e\+\d+)$/;
        var boundH = $('#boundh').val();
        var boundL = $('#boundl').val();
        if(!reg.test(boundH)||!reg.test(boundL)){
            alert("请填写数字！");
            return;
        }
        var data = {
            'paramName': $('#paramname').val(),
            'bsId': $('#breedstage').val(),
            'epId': $('#epid').val(),
            'boundH': $('#boundh').val(),
            'boundL': $('#boundl').val(),
            'paramUnit': $('#paramunit').val(),
            'note': $('#note').val()
        };
        var checked = $('[name=type]:checked').val();
        data.type = checked;
        if ($('#modalAction').html() == '添加') {
            uri = "add_envparam.json";
        } else {
            uri = "update_envparam.json";
            data.id = $('#epid').val();
        }

        $.ajax({
            url: uri,
            method: "Post",
            dataType: "json",
            data: data,
            success: function (data) {
                if (data.data) {
                    alert("成功！");
                    window.location.reload();
                }
            }
        });
    }

    function initQuery() {
        $('#table').bootstrapTable(getTable());
    }

    function getTable() {
        return {
            method: 'GET',
            dataType: 'json',
            contentType: "application/json;charset=UTF-8",
            cache: false,
            striped: true,                              //是否显示行间隔色
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            url: "query_envparam.json",
            width: $(window).width(),
            pagination: true,                  //分页开关
            queryParams: function queryParams(params) {
                var searchParams = getSearchParams();
                searchParams.page = this.pageNumber;
                searchParams.size = this.pageSize;
                return searchParams;
            },
            minimumCountColumns: 2,
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 7,                       //每页的记录行数（*）
            pageList: [7, 12, 20],             //可供选择的每页的行数（*）
            uniqueId: "epId",                     //每一行的唯一标识，一般为主键列
            showToggle: false,
            responseHandler: responseHandler,
            onLoadError: function (status) {
                alert("数据加载失败，请刷新后重试。")
            },
            columns: [
                {
                    field: 'number',
                    title: '序号',
                    formatter: function (value, row, index) {
                        return index+1;
                    }
                },
                {
                    field: 'paraName',
                    title: '参数名称',
                    visible: true
                },
                {
                    field: 'breedStage.vegeInfo.vegeName',
                    title: '蔬菜名称',
                    visible: true
                },
                {
                    field: 'breedStage.stageName',
                    title: '生长周期',
                    visible: true
                },
                {
                    field: 'type',
                    title: '参数类型',
                    visible: true,
                    formatter:function (type) {
                        var typeSig;
                        if(type==false){
                            typeSig = '<p>土壤参数</p>';
                        }else {
                            typeSig = '<p>地面参数</p>';
                        }
                        return typeSig;
                    }
                },
                {
                    field: 'paramUnit',
                    title: '参数单位',
                    visible: true
                },
                {
                    field: 'updateTime',
                    title: '更新时间',
                    visible: true
                },
                {
                    field: 'epId',
                    title: '操作',
                    formatter: function (value, row, index) {
                        var operation = '<button class="btn btn-primary" onclick="updateData(' + row.epId + ')"  >修改</button>';
                        operation += '&nbsp;&nbsp;<button class="btn-danger btn" onclick="deleteData(' + row.epId + ')" >删除</button>';
                        operation += '&nbsp;&nbsp;<button class="btn-success btn" onclick="queryDataById(' + row.epId + ')" >详情</button>';

                        return operation;
                    }
                }
            ]
        }
    }

    function responseHandler(data) {
        return {
            "rows": data.data.rows,
            "total": data.data.total
        };
    }

    function getSearchParams() {
        var param = {};
        param.paramName = $('#paramnamesearch').val();
        param.stageName = $('#breedstagesearch').val();
        return param;
    }

    $(function () {
        initQuery();
        $('#queryTable').click(function () {
            $('#table').bootstrapTable('refresh', getTable());
        });
    });

    $('[name=type]').change(function () {
        var checked = $('[name=type]:checked')
        console.log('选中的值:', checked.val())
    })

    $('#vegename').change(function () {
        var vegeId = $('#vegename').val();
        $('#breedstage').empty();
        $('#breedstage').append(new Option("请选择",0));
        $.ajax({
            url: "load_breedstage.json?vegeId=" + vegeId,
            method: "GET",
            dataType: "json",
            success: function (data) {
                if (data.data.breedStageMap) {
                    $.each(data.data.breedStageMap,function(index,item){
                        $('#breedstage').append(new Option(item,index));
                        if(data.data.stageName==item){
                            $('#breedstage').val(index)
                        }
                    });
                }
            }
        });
    })

    function reset(){
        window.location.reload();
    }
</script>
</body>
</html>