<html xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        .displayImg {
            width: 400px;
            height: 320px;
            margin: 3px;
        }
    </style>
</head>
<body>
<!-- OVERVIEW -->
<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">系统简介</h3>
        <hr>
        <p class="panel-subtitle">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;水产时序数据分析与处理原型系统是对水产养殖中所产生的时序数据进行处理和分析的工具，其主要功能有数据管理，数据处理和数据分析等。针对水产养殖业产生的大量传感数据、生产过程数据和市场价格数据等，不仅将其妥善存储和管理起来，实时地供用户查阅，并能进行一些处理和分析操作，充分发挥历史数据的作用，辅助生产过程，支持生产决策。其中，主要的数据分析功能包括，水产品养殖水质参数预测和预警、水产品养殖水质评价和水产品价格预测。
        </p>
    </div>
</div>
<div class="panel" style="margin-top: -20px">
    <div style="padding-left: 20px;">
        <img src="/img/index1.jpg" class="displayImg" alt="">
        <img src="/img/index2.jpg" class="displayImg" alt="">
        <img src="/img/index3.jpg" class="displayImg" alt="">
        <img src="/img/index4.jpg" class="displayImg" alt="">
    </div>
</div>
</body>
</html>