<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!-- 按钮触发模态框 -->
<button class="btn btn-primary" data-toggle="modal" onclick="insertData()">
    添加数据
</button>
<br>
<form action="" style="margin-bottom: 5px">
    畜禽名称：<input type="text" id="name"><br>
    查询日期：<input type="date" id="start_date"> - <input type="date" id="end_date">
</form>

<table id="table">
</table>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel"><span id="modalAction">添加</span>数据
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    名称：<input type="text" id="dataName" value=""><br>
                    最低价：<input type="text" id="dataLprice" value=""><br>
                    平均价：<input type="text" id="dataMprice" value=""><br>
                    最高价：<input type="text" id="dataHprice" value=""><br>
                    单位：<input type="text" id="dataUnit" value=""><br>
                    分类：<input type="text" id="dataClassify" value=""><br>
                    发布时间：<input type="date" id="dataDate">
                    <input type="hidden" id="dataId">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button onclick="submitData()" type="button" class="btn btn-primary">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>
    var type = "xuqin";

    function insertData() {
        $('#myModal').modal("toggle");
        $('#dataName').val("");
        $('#dataLprice').val("");
        $('#dataMprice').val("");
        $('#dataHprice').val("");
        $('#dataDate').val("");
        $('#dataClassify').val("");
        $('#dataUnit').val("");
        $('#modalAction').html("添加");
    }

    function updateData(row_id) {
        $('#modalAction').html("修改");
        $('#dataId').val(row_id);

        var lines = $('#table').find('tr[data-uniqueid=' + row_id + ']').find('td');

        $('#dataName').val($(lines[1]).html());
        $('#dataLprice').val($(lines[2]).html());
        $('#dataMprice').val($(lines[3]).html());
        $('#dataHprice').val($(lines[4]).html());
        $('#dataUnit').val($(lines[5]).html());
        $('#dataClassify').val($(lines[6]).html());
        $('#dataDate').val($(lines[7]).html());

        $('#myModal').modal('toggle');
    }

    function deleteData(row_id) {
        if (!confirm("确定删除吗？")) {
            return;
        }
        $.ajax({
            url: "delete.json?id=" + row_id + "&type=" + type,
            method: "GET",
            dataType: "json",
            success: function (data) {
                if (data.data) {
                    alert("成功！");
                    window.location.reload();
                }
            }
        });
    }

    function submitData() {
        var uri;
        var data = {
            'name': $('#dataName').val(),
            'lprice': $('#dataLprice').val(),
            'mprice': $('#dataMprice').val(),
            'hprice': $('#dataHprice').val(),
            'date': $('#dataDate').val(),
            'classify': $('#dataClassify').val(),
            'unit': $('#dataUnit').val(),
            'type': type
        };
        if ($('#modalAction').html() == '添加') {
            uri = "add.json";
        } else {
            uri = "update.json";
            data.id = $('#dataId').val();
        }

        $.ajax({
            url: uri,
            method: "Post",
            dataType: "json",
            data: data,
            success: function (data) {
                if (data.data) {
                    alert("成功！");
                    window.location.reload();
                }
            }
        });
    }

    function initQuery() {
        $('#table').bootstrapTable({
            method: 'GET',
            dataType: 'json',
            contentType: "application/json;charset=UTF-8",
            cache: false,
            striped: true,                              //是否显示行间隔色
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            url: "query.json",
            width: $(window).width(),
            pagination: true,                  //分页开关
            queryParams: function queryParams(params) {
                var searchParams = getSearchParams();
                searchParams.page = this.pageNumber;
                searchParams.size = this.pageSize;
                searchParams.type = type;
                return searchParams;
            },
            minimumCountColumns: 2,
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [10, 20, 30],             //可供选择的每页的行数（*）
            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
            showToggle: false,
            responseHandler: responseHandler,
            onLoadError: function (status) {
                alert("数据加载失败，请刷新后重试。")
            },
            columns: [
                {
                    field: 'id',
                    title: '序号',
                    formatter: function (value, row, index) {
                        return index + 1;
                    }
                },
                {
                    field: 'name',
                    title: '名称',
                    visible: true
                },
                {
                    field: 'lprice',
                    title: '最低价',
                    visible: true
                },
                {
                    field: 'mprice',
                    title: '平均价',
                    visible: true
                },
                {
                    field: 'hprice',
                    title: '最高价',
                    visible: true
                },
                {
                    field: 'unit',
                    title: '单位',
                    visible: true
                },
                {
                    field: 'classify',
                    title: '分类',
                    visible: true
                },
                {
                    field: 'date',
                    title: '发布时间',
                    visible: true
                },
                {
                    field: 'id',
                    title: '操作',
                    formatter: function (value, row, index) {
                        var operation = '<button class="btn btn-primary" onclick="updateData(' + row.id + ')"  >修改</button>';
                        operation += '&nbsp;&nbsp;<button class="btn-danger btn" onclick="deleteData(' + row.id + ')" >删除</button>';

                        return operation;
                    }
                }
            ]
        });
    }

    function responseHandler(data) {
        return {
            "rows": data.data.rows,
            "total": data.data.total
        };
    }

    function getSearchParams() {
        var param = {};
        param.name = $('#name').val();
        param.start_date = $('#start_date').val();
        param.end_date = $('#end_date').val();
        return param;
    }

    $(function () {
        initQuery();
    });
</script>
</body>
</html>