<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>设施蔬菜知识库管理系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>
<body>
<!-- OVERVIEW -->
<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">系统简介</h3>
        <hr>
        <p class="panel-subtitle" style="font-size: 18px;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;设施蔬菜知识库系统主要是面向设施蔬菜的种植者和有意了解设施蔬菜种植知识的其他用户而开发的知识管理系统。该系统的主要功能是对设施蔬菜及其品种的相关知识的查询，通过查询，用户可以得到蔬菜的基本信息，所属种类、常见品种、生长周期、种植环境、常见疾病、疾病防治方法和种植标准等信息。
        </p>
    </div>
</div>
<div class="panel" style="margin-top: -20px">
    <img src="/static/img/mainmig.jpg" style="width: auto;height: 460px; margin-left: 150px">
</div>

</div>
</body>
</html>