<html xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
    </style>
</head>
<body>
<!-- OVERVIEW -->
<div class="panel panel-headline" style="height: 500px">
    <div class="panel-heading">
        预测日期：<input type="date"> - <input type="date">
        <br>
        预测目标：<select name="" id="">
        <option value="">水温</option>
    </select>

        <h4>结果</h4>
        <table class="table">
            <tr>
            <td>序号</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            </tr>
            <tr>
                <td>实际值</td>
                <td>31.46</td>
                <td>31.5</td>
                <td>31.63</td>
                <td>31.5</td>
                <td>30.72</td>
                <td>30.59</td>
                <td>29.78</td>
                <td>29.7</td>
                <td>29.23</td>
                <td>29.3</td>
            </tr>
            <tr>
                <td>预测值</td>
                <td>30.63</td>
                <td>32.22</td>
                <td>30.62</td>
                <td>30.82</td>
                <td>30.55</td>
                <td>30.41</td>
                <td>31.65</td>
                <td>30.70</td>
                <td>30.43</td>
                <td>30.72</td>
            </tr>
            <tr>
                <td>MAE</td>
                <td colspan="3">0.5373</td>
                <td>MAE</td>
                <td colspan="2">1.8148</td>
                <td>MAE</td>
                <td colspan="3">0.7208</td>
            </tr>
        </table>
    </div>
</div>

</body>
<script>
</script>
</html>