<html xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
    </style>
</head>
<body>
<!-- OVERVIEW -->
<div class="panel panel-headline" style="height: 500px">
    <div class="panel-heading">
        名字：<select name="" id="name">
        <option value="">请选择</option>
    </select> &nbsp;&nbsp;&nbsp;&nbsp;
        年份
        <select name="" id="year">
            <option value="">请选择</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" value="提交" onclick="predictPrice()" class="btn btn-primary">

        <h4>结果</h4>
        <table id="result"></table>
    </div>
</div>
<script>
    $(function () {
        $.ajax({
            url: "get_param_list.json",
            method: "GET",
            dataType: "json",
            data: {},
            success: function (data) {
                for (var index in data.data.name) {
                    $('#name').append($("<option name='" + data.data.name[index] + "'>" + data.data.name[index] + "</option>"))
                }

                for (var index in data.data.time) {
                    $('#year').append($("<option name='" + data.data.time[index] + "'>" + data.data.time[index] + "</option>"))
                }
            }
        });
    });

    function predictPrice() {
        var data = {
            name: $('#name').val(),
            year: $('#year').val()
        };

        $.ajax({
            url: "call_matlab.json",
            method: "GET",
            dataType: "json",
            data: data,
            success: function (data) {
                showData(data.data);
            }
        });
    }

    function showData(data) {
        var colspan = data.predictValue.length;

        var tr = $("<tr></tr>");
        $("<td>预测值</td>").appendTo(tr);
        for (var j = 0; j < data.predictValue.length; j++) {
            $("<td>" + data.predictValue[j] + "</td>").appendTo(tr);
        }
        tr.appendTo($('#tableShow'));

        tr = $("<tr></tr>");
        $("<td>真实值</td>").appendTo(tr);
        for (j = 0; j < data.realValue.length; j++) {
            $("<td>" + data.realValue[j] + "</td>").appendTo(tr);
        }
        tr.appendTo($('#tableShow'));

        tr = $("<tr></tr>");
        $("<td>绝对误差</td>").appendTo(tr);
        for (j = 0; j < data.jdwc.length; j++) {
            $("<td>" + data.jdwc[j] + "</td>").appendTo(tr);
        }
        tr.appendTo($('#tableShow'));

        tr = $("<tr></tr>");
        $("<td>相对误差</td>").appendTo(tr);
        for (j = 0; j < data.xdwc.length; j++) {
            $("<td>" + data.xdwc[j] + "</td>").appendTo(tr);
        }
        tr.appendTo($('#tableShow'));

        tr = $("<tr></tr>");
        $("<td>均方根误差</td>").appendTo(tr);
        $("<td colspan='" + colspan + "'>" + data.jfgwc + "</td>").appendTo(tr);
        tr.appendTo($('#tableShow'));
    }
</script>
</body>
</html>