<html xmlns:th="http://www.thymeleaf.org">

<head></head>
<body>
<!-- OVERVIEW -->
<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">数据处理</h3>
    </div>
    <div style="margin-left: 10px">
        <!-- 按钮触发模态框 -->
        <button class="btn btn-primary" data-toggle="modal" onclick="uploadAtmosphere()">
            开始处理
        </button>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">上传<span id="fileType">天气</span>数据
                    </h4>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" name="file" id="fileForm">
                        请选择文件：<input id="file" type="file">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button onclick="submitData()" type="button" class="btn btn-primary">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="notice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    </button>
                    <h4 class="modal-title"><span id="noticeTitle"></span>
                    </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> 退出
                    </button>
                    <button id="nextButton" onclick="submitData()" type="button" class="btn btn-primary">
                        继续
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div id="result" style="border: 1px solid black;height: 300px;margin:10px;">

    </div>
</div>
<script>
    function submitData() {
        var uri = "";
        if ($('#fileType').html() == '天气') {
            uri = "upload_atmosphere.json"
        } else {
            uri = "upload_water.json"
        }

        var formData = new FormData();
        formData.append("file", $("#file")[0].files[0]);

        $.ajax({
            url: uri,
            method: "POST",
            dataType: "json",
            cache: false,
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.data) {
                    if ($('#fileType').html() == '天气') {
                        doNext("天气数据上传成功！请继续上传水质数据！", "uploadWater();");
                    } else {
                        $('#upload').modal('hide');
                        doNext("水质数据上传成功！是否进行异常检测？", "doStep1();");
                    }
                }
            }
        });
    }

    function doNext(title, nextFunction) {
        $('#noticeTitle').html(title);
        $('#notice').modal('show');
        $('#nextButton').attr("onclick", nextFunction);
    }

    function uploadAtmosphere() {
        var file = $("#file");
        file.after(file.clone().val(""));
        file.remove();
        $('#upload').modal('toggle');
        $('#fileType').html('天气');
    }

    function uploadWater() {
        $('#notice').modal('hide');
        $('#fileType').html('水质');
        var file = $("#file");
        file.after(file.clone().val(""));
        $('.modal-backdrop').remove();
        file.remove();
    }

    function doStep1() {
        $('#notice').modal('hide');
        $('#result').html("数据异常检测中...</br>");
        sleep(Math.random() * 1000);
        $('#result').html($('#result').html() + "数据异常检测完成...</br>");
        $('.modal-backdrop').remove();

        doNext("是否进行数据校正？", "doStep2();");
    }

    function doStep2() {
        $('#notice').modal('hide');
        $('#result').html($('#result').html() + "数据校正中...</br>");
        sleep(Math.random() * 1000);
        $('#result').html($('#result').html() + "数据校正完成...</br>");

        $('.modal-backdrop').remove();
        doNext("是否进行数据预处理？", "doStep3();");
    }

    function doStep3() {
        $('#notice').modal('hide');
        $('.modal-backdrop').remove();
        process();
    }

    function process() {
        $.ajax({
            url: "process.json",
            method: "GET",
            dataType: "json",
            success: function (data) {
                if (data.data) {
                    $('#result').html($('#result').html() + "数据预处理中...</br>");
                    sleep(Math.random() * 1000);
                    $('#result').html($('#result').html() + "数据预处理完成...</br>");
                }
            }
        });
    }

    function sleep(milliseconds) {
        var start = new Date().getTime();
        for (var i = 0; i < 1e7; i++) {
            if ((new Date().getTime() - start) > milliseconds) {
                break;
            }
        }
    }
</script>
</body>
</html>