<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>
        //装载富文本编辑器
        var baseURL = "/";
        tinymce.init({
            selector: '#content',
            language:'zh_CN',//注意大小写
            height: 500,
            plugins: 'paste importcss code table advlist fullscreen imagetools  textcolor colorpicker hr  autolink link image lists preview media wordcount',
            toolbar: ' formatselect | fontsizeselect | forecolor backcolor | bold italic underline strikethrough | image  table | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | preview removeformat  hr | paste code  link | undo redo | fullscreen',
            images_upload_url: baseURL + "upload_img",//图片上传地址
            images_upload_credentials: false,
            image_dimensions: false,
            image_class_list: [
                {title: '无', value: ''},
                {title: '预览', value: 'preview'},
            ],
            insert_button_items: 'image link | inserttable',
            paste_merge_formats: true,
            nonbreaking_force_tab: false,
            imagetools_toolbar: 'rotateleft rotateright | flipv fliph | editimage imageoptions',
            images_upload_handler: function (blobInfo, success, failure) {
                var xhr, formData;
                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', baseURL + "upload_img" );
                xhr.onload = function () {
                    var json;
                    console.log(xhr.responseText);
                    json = JSON.parse(xhr.responseText);
                    success(json.location);

                };
                formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());
                console.log(blobInfo.blob());
                xhr.send(formData);
                console.log(xhr.responseText)
            }
        });
    </script>
</head>
<body>
<!-- 按钮触发模态框 -->
<button class="btn btn-primary" data-toggle="modal" onclick="insertData()">
    添加数据
</button>

<div style="border: 1px gray solid;padding: 5px 5px;margin: 10px 0px 10px 0px;">
    标准名称：<input type="text" id="headlinesearch">
    开始时间：<input type="date" id="starttime">&nbsp;
    结束时间：<input type="date" id="endtime">
    <button class="btn btn-primary" id="queryTable">查询</button>

</div>

<table id="table">
</table>

<!-- 模态框（Modal） -->
<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="reset()">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel"><span id="modalAction">添加</span>数据
                </h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    标准名称：<input type="text" id="headline" value="" style="width: 500px;"><br>
                    标准编号：<input type="text" id="code" value="" style="width: 300px;"><br>
                    标准类型：<select id="type" value="" style="width: 300px;">
                                <option value="5">请选择</option>
                            </select><br>
                    <span style="display: inline-block">标准状态：</span><div class="form-check form-check-inline" style="display: inline-block">
                                <input class="form-check-input" type="radio" name="state" id="state0" value="TRUE" checked="checked">
                                <label class="form-check-label" for="state0">现行</label>
                                <input class="form-check-input" type="radio" name="state" id="state1" value="FALSE">
                                <label class="form-check-label" for="state0">废止</label>
                            </div><br>
                    标准链接：<input type="text" id="filelink" value="" style="width: 500px;"><br>
                    发布时间：<input type="date" id="publictime" value="" style="width: 200px;"><br>
                    内   容：<textarea id="content"></textarea><br>
                    <input type="hidden" id="standardid">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="reset()">关闭
                </button>
                <button onclick="submitData()" type="button" class="btn btn-primary">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 模态框（Modal） -->
<div class="modal fade bd-example-modal-lg" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                标准名称：<label text="" id="headline_detail"></label><br>
                标准编号：<label text="" id="code_detail"></label><br>
                标准类型：<label text="" id="type_detail"></label><br>
                标准状态：<label text="" id="state_detail"></label><br>
                标准链接：<label text="" id="filelink_detail"></label><br>
                发布时间：<label text="" id="publictime_detail"></label><br>
                内   容：<div id="content_detail"></div><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>
    function insertData() {

        $('#myModal').modal("toggle");
        //装载下拉列表
        uri = "load_standardtype.json";
        $.ajax({
            url: uri,
            method: "Get",
            dataType: "json",
            success: function (data) {
                if (data.data) {
                    $.each(data.data.typeMap,function(index,item){
                        $('#type').append(new Option(item,index));
                    });
                }
            }
        });
        $('#headline').val("");
        $('#standardId').val("");
        $('#publictime').val("");
        $('#content').val("");
        $('#code').val("");
        $('#filelink').val("");
        $('#modalAction').html("添加");
    }


    function updateData(row_id) {
        $.ajax({
            url: "query_standardbyid.json?standardId=" + row_id,
            method: "GET",
            dataType: "json",
            success: function (data) {
                if (data) {
                    $('#modalAction').html("修改");
                    $('#headline').val(data.data.headline);
                    $('#code').val(data.data.code);

                    //修改标准类型
                    $.each(data.data.typeMap,function(index,item){
                        $('#type').append(new Option(item,index));
                        if(data.data.type==index){
                            $('#type').val(index)
                        }
                    });

                    //修改介绍
                    if(data.data.content!=null||""!=data.data.content){
                        tinymce.activeEditor.setContent(data.data.content);
                    }else {
                        tinymce.activeEditor.setContent("无");
                    }

                    //修改标准状态
                    if(data.data.state==false){
                        $('#state1').attr("checked","checked");
                    }else {
                        $('#state0').attr("checked","checked");
                    }

                    $('#standardid').val(data.data.standardId);
                    $('#publictime').val(data.data.publicTime);
                    $('#filelink').val(data.data.fileLink);
                    $('#myModal').modal('toggle');
                }
            }
        });

    }

    function queryDataById(row_id) {

        $.ajax({
            url: "query_standardbyid.json?standardId=" + row_id,
            method: "GET",
            dataType: "json",
            success: function (data) {
                if (data.data) {
                    $('#modalAction').html("详情");
                    $('#intro_child').remove();
                    $('#headline_detail').text(data.data.headline);
                    $('#code_detail').text(data.data.code);
                    if(data.data.type==0){
                        $('#type_detail').text("国际标准");
                    }else if(data.data.type==1){
                        $('#type_detail').text("国家标准");
                    }else if(data.data.type==2){
                        $('#type_detail').text("地方标准");
                    }else if(data.data.type==3){
                        $('#type_detail').text("企业标准");
                    }else{
                        $('#type_detail').text("行业标准");
                    }
                    if(data.data.state==false){
                        $('#state_detail').text("废止");
                    }else {
                        $('#state_detail').text("现行");
                    }
                    $('#content_detail').append("<div id='intro_child'>"+data.data.content+"</div>")
                    $('#publictime_detail').text(data.data.publicTime);
                    $('#filelink_detail').text(data.data.fileLink);

                    $('#detailModal').modal('toggle');
                }
            }
        });

    }


    function deleteData(row_id) {
        if (!confirm("确定删除吗？")) {
            return;
        }
        $.ajax({
            url: "delete_standard.json?standardId=" + row_id,
            method: "GET",
            dataType: "json",
            success: function (data) {
                if (data.data) {
                    alert("成功！");
                    window.location.reload();
                }
            }
        });
    }

    function submitData() {
        var uri;
        var content = tinymce.activeEditor.getContent();
        var type = $('#type').val();
        if(""==$('#headline').val()||$('#headline').val()==null){
            alert("请填写标题！");
            return;
        }
        if(""==$('#code').val()||$('#code').val()==null){
            alert("请填写标准编号！");
            return;
        }
        if("5"==type){
            alert("请选择标准类别！");
            return;
        }
        if(""==content||content==null){
            content = "无";
        }
        if(""== $('#publictime').val()|| $('#publictime').val()==null){
            alert("请填写标准发布时间！");
            return;
        }
        var data = {
            'headline': $('#headline').val(),
            'code': $('#code').val(),
            'standardId': $('#standardid').val(),
            'type': $('#type').val(),
            'content': content,
            'fileLink': $('#filelink').val(),
            'publicTime': $('#publictime').val()
        };
        var checked = $('[name=state]:checked').val();
        data.state = checked;
        if ($('#modalAction').html() == '添加') {
            uri = "add_standard.json";
        } else {
            uri = "update_standard.json";
            data.id = $('#vkId').val();
        }

        $.ajax({
            url: uri,
            method: "Post",
            dataType: "json",
            data: data,
            success: function (data) {
                if (data.data) {
                    alert("成功！");
                    window.location.reload();
                }
            }
        });
    }

    function initQuery() {
        $('#table').bootstrapTable(getTable());
    }

    function getTable() {
        return {
            method: 'GET',
            dataType: 'json',
            contentType: "application/json;charset=UTF-8",
            cache: false,
            striped: true,                              //是否显示行间隔色
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            url: "query_standard.json",
            width: $(window).width(),
            pagination: true,                  //分页开关
            queryParams: function queryParams(params) {
                var searchParams = getSearchParams();
                searchParams.page = this.pageNumber;
                searchParams.size = this.pageSize;
                return searchParams;
            },
            minimumCountColumns: 2,
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 7,                       //每页的记录行数（*）
            pageList: [7, 12, 20],             //可供选择的每页的行数（*）
            uniqueId: "vegeId",                     //每一行的唯一标识，一般为主键列
            showToggle: false,
            responseHandler: responseHandler,
            onLoadError: function (status) {
                alert("数据加载失败，请刷新后重试。")
            },
            columns: [
                {
                    field: 'number',
                    title: '序号',
                    formatter: function (value, row, index) {
                        return index+1;
                    }
                },
                {
                    field: 'headline',
                    title: '标准名称',
                    visible: true
                },
                {
                    field: 'type',
                    title: '标准类型',
                    visible: true,
                    formatter:function (type) {
                        var typeSig;
                        if(type==0){
                            typeSig = '<p>国际标准</p>';
                        }else if(type==1){
                            typeSig = '<p>国家标准</p>';
                        }else if(type==2){
                            typeSig = '<p>地方标准</p>';
                        }else if(type==3){
                            typeSig = '<p>企业标准</p>';
                        }else{
                            typeSig = '<p>行业标准</p>';
                        }
                        return typeSig;
                    }
                },
                {
                    field: 'state',
                    title: '标准状态',
                    visible: true,
                    formatter:function (state) {
                        var typeSig;
                        if(state==false){
                            typeSig = '<p>废止</p>';
                        }else{
                            typeSig = '<p>现行</p>';
                        }
                        return typeSig;
                    }
                },
                {
                    field: 'publicTime',
                    title: '更新时间',
                    visible: true
                },
                {
                    field: 'standardId',
                    title: '操作',
                    formatter: function (value, row, index) {
                        var operation = '<button class="btn btn-primary" onclick="updateData(' + row.standardId + ')"  >修改</button>';
                        operation += '&nbsp;&nbsp;<button class="btn-danger btn" onclick="deleteData(' + row.standardId + ')" >删除</button>';
                        operation += '&nbsp;&nbsp;<button class="btn-success btn" onclick="queryDataById(' + row.standardId + ')" >详情</button>';

                        return operation;
                    }
                }
            ]
        }
    }

    function responseHandler(data) {
        return {
            "rows": data.data.rows,
            "total": data.data.total
        };
    }

    function getSearchParams() {
        var param = {};
        param.headline = $('#headlinesearch').val();
        param.startTime = $('#starttime').val();
        param.endTime = $('#endtime').val();
        return param;
    }

    $(function () {
        initQuery();
        $('#queryTable').click(function () {
            $('#table').bootstrapTable('refresh', getTable());
        });
    });

    function reset(){
        window.location.reload();
    }

    $('[name=state]').change(function () {
        var checked = $('[name=state]:checked')
        console.log('选中的值:', checked.val())
    })
</script>
</body>
</html>