<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.js"></script>
    <!--引入富文本编辑器-->
    <script src="/editor/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="/editor/tinymce/js/tinymce/jquery.tinymce.min.js"></script>
    <script src="/editor/tinymce/js/tinymce/icons/default/icons.min.js"></script>

    <script>
        var baseURL = "/";
        tinymce.init({
            selector: '#mytextarea',
            language:'zh_CN',//注意大小写
            height: 500,
            plugins: 'paste importcss code table advlist fullscreen imagetools  textcolor colorpicker hr  autolink link image lists preview media wordcount',
            toolbar: ' formatselect | fontsizeselect | forecolor backcolor | bold italic underline strikethrough | image  table | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | preview removeformat  hr | paste code  link | undo redo | fullscreen',
            images_upload_url: baseURL + "upload_img", //图片上传地址
            images_upload_credentials: false,
            image_dimensions: false,
            image_class_list: [
                {title: '无', value: ''},
                {title: '预览', value: 'preview'},
            ],
            insert_button_items: 'image link | inserttable',
            paste_merge_formats: true,
            nonbreaking_force_tab: false,
            imagetools_toolbar: 'rotateleft rotateright | flipv fliph | editimage imageoptions',
            images_upload_handler: function (blobInfo, success, failure) {
                var xhr, formData;

                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', baseURL + "upload_img" );
               /* if (xhr.status != 200) {
                    failure('HTTP Error: ' + xhr.status);
                    return;
                }*/

                xhr.onload = function () {
                    var json;
                    /*if (xhr.status != 200) {
                        failure('HTTP Error: ' + xhr.status);
                        return;
                    }*/
                    console.log(xhr.responseText);
                    json = JSON.parse(xhr.responseText);
                    //json.location = json.url;
                    success(json.location);


                };
                formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());
                console.log(blobInfo.blob());
                xhr.send(formData);
                console.log(xhr.responseText)
            }
        });
        function submitData() {
            var url = '/add_content.json';
            var content = tinymce.activeEditor.getContent();
            var data = {
                "content":content
            };
            $.ajax({
                url:url,
                method: "post",
                dataType: "json",
                data:data,
                success: function (data) {
                    if(data.data==true){
                        alert("success!");
                    }
                }
            });
        }
    </script>
</head>
<body>
<!-- OVERVIEW -->
<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">测试富文本编辑器</h3>
        <hr>
        <p class="panel-subtitle">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
    </div>
</div>
<div class="panel" style="margin-top: -20px">
    <form method="post">
        <textarea id="mytextarea">${"data.content"}</textarea><br>
        <!--<editor id="tinymce" v-model="value" :init="init"></editor>-->
        <button type="button" class="btn btn-default" onclick="submitData()">提交
        </button>
    </form>
</div>


</body>
</html>