<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>
        //装载富文本编辑器
        var baseURL = "/";
        tinymce.init({
            selector: '#introduction',
            language:'zh_CN',//注意大小写
            height: 500,
            plugins: 'paste importcss code table advlist fullscreen imagetools  textcolor colorpicker hr  autolink link image lists preview media wordcount',
            toolbar: ' formatselect | fontsizeselect | forecolor backcolor | bold italic underline strikethrough | image  table | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | preview removeformat  hr | paste code  link | undo redo | fullscreen',
            images_upload_url: baseURL + "upload_img",//图片上传地址
            images_upload_credentials: false,
            image_dimensions: false,
            image_class_list: [
                {title: '无', value: ''},
                {title: '预览', value: 'preview'},
            ],
            insert_button_items: 'image link | inserttable',
            paste_merge_formats: true,
            nonbreaking_force_tab: false,
            imagetools_toolbar: 'rotateleft rotateright | flipv fliph | editimage imageoptions',
            images_upload_handler: function (blobInfo, success, failure) {
                var xhr, formData;

                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', baseURL + "upload_img" );
                xhr.onload = function () {
                    var json;
                    console.log(xhr.responseText);
                    json = JSON.parse(xhr.responseText);
                    success(json.location);

                };
                formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());
                console.log(blobInfo.blob());
                xhr.send(formData);
                console.log(xhr.responseText)
            }
        });
    </script>
</head>
<body>
<!-- 按钮触发模态框 -->
<button class="btn btn-primary" data-toggle="modal" onclick="insertData()">
    添加数据
</button>

<div style="border: 1px gray solid;padding: 5px 5px;margin: 10px 0px 10px 0px;">
    知识标题：<input type="text" id="headlinesearch">
    请选择要查询的分类：<select id="selectknowledgecategory">
                    <option value="0">请选择</option>
                    </select>
    <button class="btn btn-primary" id="queryTable">查询</button>

</div>

<table id="table">
</table>

<!-- 模态框（Modal） -->
<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="reset()">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel"><span id="modalAction">添加</span>数据
                </h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    知识标题：<input type="text" id="headline" value="" style="width: 500px"><br>
                    知识分类：<select id="knowledgecategory" style="width: 200px;">
                                <option value="0">请选择</option>
                            </select><br>
                    蔬菜名称：<select id="vegename" value="" style="width: 200px;">
                                <option value="0">请选择</option>
                                <option value="1">无</option>
                            </select><br>
                    内   容：<textarea id="introduction"></textarea><br>
                    <input type="hidden" id="vkid">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="reset()">关闭
                </button>
                <button onclick="submitData()" type="button" class="btn btn-primary">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 模态框（Modal） -->
<div class="modal fade bd-example-modal-lg" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                知识标题：<label text="" id="headline_detail"></label><br>
                蔬菜分类：<label text="" id="knowledgecategory_detail"></label><br>
                蔬菜名称：<label text="" id="vagename_detail"></label><br>
                内   容：<div id="introduction_detail"></div><br>
                更新时间：<label text="" id="updatetime_detail"></label><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script>
    function insertData() {

        $('#myModal').modal("toggle");
        //装载下拉列表
        uri = "load_knowledgecategory.json";
        $.ajax({
            url: uri,
            method: "Get",
            dataType: "json",
            success: function (data) {
                if (data.data) {
                    $.each(data.data.vegeNameMap,function(index,item){
                        $('#vegename').append(new Option(item,index));
                    });
                    $.each(data.data.knowledgeCategoryName,function(index,item){
                        $('#knowledgecategory').append(new Option(item,index));
                    });
                }
            }
        });
        $('#headline').val("");
        $('#vegeId').val("");
        $('#kcid').val("");
        $('#introduction').val("");
        $('#vkid').val("");
        $('#modalAction').html("添加");
    }


    function updateData(row_id) {
        $.ajax({
            url: "query_vegeknowledgebyid.json?vkId=" + row_id,
            method: "GET",
            dataType: "json",
            success: function (data) {
                if (data) {
                    $('#modalAction').html("修改");
                    $('#headline').val(data.data.headline);

                    //修改对应蔬菜
                    $.each(data.data.vegeNameMap,function(index,item){
                        $('#vegename').append(new Option(item,index));
                        if(data.data.vegeInfo!=null && data.data.vegeInfo.vegeName==item){
                            $('#vegename').val(index)
                        }
                    });

                    //修改知识类型
                    $.each(data.data.knowledgeCategoryMap,function(index,item){
                        $('#knowledgecategory').append(new Option(item,index));
                        if(data.data.knowledgeCategory.knowledgeCategoryName==item){
                            $('#knowledgecategory').val(index)
                        }
                    });

                    //修改介绍
                    if(data.data.content!=null||""!=data.data.content){
                        tinymce.activeEditor.setContent(data.data.content);
                    }else {
                        tinymce.activeEditor.setContent("无");
                    }

                    $('#vkid').val(data.data.vkId);
                    $('#myModal').modal('toggle');
                }
            }
        });

    }

    function queryDataById(row_id) {

        $.ajax({
            url: "query_vegeknowledgebyid.json?vkId=" + row_id,
            method: "GET",
            dataType: "json",
            success: function (data) {
                if (data.data) {
                    $('#modalAction').html("详情");
                    $('#intro_child').remove();
                    $('#headline_detail').text(data.data.headline);
                    if(data.data.vegeInfo!=null){
                        $('#vagename_detail').text(data.data.vegeInfo.vegeName);
                    }
                    $('#knowledgecategory_detail').text(data.data.knowledgeCategory.knowledgeCategoryName);

                    $('#introduction_detail').append("<div id='intro_child'>"+data.data.content+"</div>")

                    $('#updatetime_detail').text(data.data.updateTime);
                    //$('#vegeid_detail').val(data.data.vegeId);
                    $('#detailModal').modal('toggle');
                }
            }
        });

    }


    function deleteData(row_id) {
        if (!confirm("确定删除吗？")) {
            return;
        }
        $.ajax({
            url: "delete_vegeknowledge.json?vkId=" + row_id,
            method: "GET",
            dataType: "json",
            success: function (data) {
                if (data.data) {
                    alert("成功！");
                    window.location.reload();
                }
            }
        });
    }

    function submitData() {
        var uri;
        var content = tinymce.activeEditor.getContent();
        var knowledgeCategory = $('#knowledgecategory').val();
        if(""==$('#headline').val()||$('#headline').val()==null){
            alert("请填写标题！");
            return;
        }
        if("0"==knowledgeCategory){
            alert("请选择知识类别！");
            return;
        }
        if(""==content||content==null){
            alert("请填写知识内容！");
            return;
        }
        var data = {
            'headline': $('#headline').val(),
            'vegeId': $('#vegename').val(),
            'kcId': $('#knowledgecategory').val(),
            'content': content,
            'vkId': $('#vkid').val()
        };
        if ($('#modalAction').html() == '添加') {
            uri = "add_vegeknowledge.json";
        } else {
            uri = "update_vegeknowledge.json";
            data.id = $('#vkId').val();
        }

        $.ajax({
            url: uri,
            method: "Post",
            dataType: "json",
            data: data,
            success: function (data) {
                if (data.data) {
                    alert("成功！");
                    window.location.reload();
                }
            }
        });
    }

    function initQuery() {
        $('#table').bootstrapTable(getTable());
    }

    function getTable() {
        return {
            method: 'GET',
            dataType: 'json',
            contentType: "application/json;charset=UTF-8",
            cache: false,
            striped: true,                              //是否显示行间隔色
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            url: "query_vegeknowledge.json",
            width: $(window).width(),
            pagination: true,                  //分页开关
            queryParams: function queryParams(params) {
                var searchParams = getSearchParams();
                searchParams.page = this.pageNumber;
                searchParams.size = this.pageSize;
                return searchParams;
            },
            minimumCountColumns: 2,
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 7,                       //每页的记录行数（*）
            pageList: [7, 12, 20],             //可供选择的每页的行数（*）
            uniqueId: "vegeId",                     //每一行的唯一标识，一般为主键列
            showToggle: false,
            responseHandler: responseHandler,
            onLoadError: function (status) {
                alert("数据加载失败，请刷新后重试。")
            },
            columns: [
                {
                    field: 'number',
                    title: '序号',
                    formatter: function (value, row, index) {
                        return index+1;
                    }
                },
                {
                    field: 'headline',
                    title: '知识标题',
                    visible: true
                },
                {
                    field: 'knowledgeCategory.knowledgeCategoryName',
                    title: '知识分类',
                    visible: true
                },
                {
                    field: 'vegeInfo.vegeName',
                    title: '蔬菜名称',
                    visible: true,
                },
                {
                    field: 'updateTime',
                    title: '更新时间',
                    visible: true
                },
                {
                    field: 'vkId',
                    title: '操作',
                    formatter: function (value, row, index) {
                        var operation = '<button class="btn btn-primary" onclick="updateData(' + row.vkId + ')"  >修改</button>';
                        operation += '&nbsp;&nbsp;<button class="btn-danger btn" onclick="deleteData(' + row.vkId + ')" >删除</button>';
                        operation += '&nbsp;&nbsp;<button class="btn-success btn" onclick="queryDataById(' + row.vkId + ')" >详情</button>';

                        return operation;
                    }
                }
            ]
        }
    }

    function responseHandler(data) {
        return {
            "rows": data.data.rows,
            "total": data.data.total
        };
    }

    function getSearchParams() {
        var param = {};
        param.headline = $('#headlinesearch').val();
        param.kcId = $('#selectknowledgecategory').val();
        return param;
    }

    function reset(){
        window.location.reload();
    }

    $(function () {
        initQuery();
        $('#queryTable').click(function () {
            $('#table').bootstrapTable('refresh', getTable());
        });
        uri = "load_knowledgecategory.json"
        $.ajax({
            url: uri,
            method: "get",
            dataType: "json",
            success: function (data) {
                $.each(data.data.knowledgeCategoryName,function(index,item){
                    //$('#selectknowledgecategory').removeChild();
                    $('#selectknowledgecategory').append(new Option(item,index));
                    if(data.data.knowledgeCategoryName==item){
                        $('#selectknowledgecategory').val(index);
                    }
                });
            }
        });
    });
</script>
</body>
</html>