<html xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
    </style>
</head>
<body>
<!-- OVERVIEW -->
<div class="panel panel-headline" style="height: 500px">
    <div class="panel-heading">
        预警时间：<select name="" id="">
        <option value="">半小时后</option>
        <option value="">一小时后</option>
        <option value="">一个半小时后</option>
    </select>

        <h4>结果</h4>
        <table class="table">
            <tr>
                <td>水质参数</td>
                <td>水温</td>
                <td>溶解氧</td>
                <td>PH</td>
            </tr>
            <tr>
                <td>当前值</td>
                <td>24.4</td>
                <td>3.6</td>
                <td>6.6</td>
            </tr>
            <tr>
                <td>所处区间等级</td>
                <td>1</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td>综合预警等级</td>
                <td colspan="3">No Warning</td>
            </tr>
            <tr>
                <td>该等级预测准确率</td>
                <td colspan="3">91.30%</td>
            </tr>
        </table>
    </div>
</div>

</body>
<script>
</script>
</html>