<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dashboard | Klorofil - Free Bootstrap Dashboard Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap-table/bootstrap-table.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/linearicons/style.css">
    <link rel="stylesheet" href="/vendor/chartist/css/chartist-custom.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <!-- ICONS -->
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.png">
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <a href="aquatic.html"><img src="/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
        </div>
        <div class="container-fluid">
            <div id="navbar-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/img/user.png"
                                                                                        class="img-circle" alt="Avatar">
                            <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                            <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                            <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                            <li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul id="mainNav" class="nav">
                    <li><a href="/index.html" class=""><i class="lnr lnr-home"></i> <span>首页</span></a></li>
                    <li>
                        <a id="querySubButton" href="#querySubPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-dice"></i></i> <span>查询</span> <i
                                class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="querySubPages" class="collapse ">
                            <ul id="querySubNav" class="nav">
                                <li><a href="/aquatic.html" class="">水产</a></li>
                                <li><a href="/livestock.html" class="">畜禽</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/process.html" class=""><i class="lnr lnr-chart-bars"></i> <span>数据处理</span></a></li>
                    </li>
                    <li><a href="/analysis.html" class=""><i class="lnr lnr-linearicons"></i> <span>数据分析</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <!-- Javascript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/bootstrap-table/bootstrap-table.js"></script>
    <script src="/vendor/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <div class="row" style="margin-left: 5px">
                    <div th:replace="~{${#strings.toLowerCase(page)}::html}"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN -->
<div class="clearfix"></div>
<footer>
    <div class="container-fluid">
        <p class="copyright">&copy; 2018 . All Rights Reserved.</p>
    </div>
</footer>
</div>
<!-- END WRAPPER -->
</body>

<script>
    $(function () {
        pageActive();
    });

    function pageActive() {
        var pageUri = window.location.pathname;
        var active = false;
        $('#mainNav').children("li").each(function () {
            var link = $(this).find("a")[0];
            var href = link.getAttribute("href");
            if (href == pageUri) {
                $(link).addClass("active");
                active = true;
            }
        });
        if (active) {
            return;
        }

        // 主页面没有选中的查看查询子菜单
        $('#querySubNav').children("li").each(function () {
            var link = $(this).find("a")[0];
            var href = link.getAttribute("href");
            if (href == pageUri) {
                $(link).addClass("active");
                $('#querySubButton').addClass("active");
                $('#querySubPages').addClass("in");
                $('#querySubPages').attr("aria-expanded", true);
                active = true;
            }
        });
        if (active) {
            return;
        }

    }

</script>

</html>
