<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<script>
    var uri = "default.json";
    var fileName = "default.csv";
</script>
<body>

<!-- 按钮触发模态框 -->
<button id="uploadStart" class="btn btn-primary" data-toggle="modal" onclick="uploadFile()">
    上传数据文件
</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button id="doProcessButton" class="btn btn-primary" style="visibility: hidden" onclick="doProcess()">
    开始分析
</button>
<hr>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">上传数据文件
                </h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" name="file" id="fileForm">
                    请选择文件：<input type="file" id="file">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button onclick="submitData()" type="button" class="btn btn-primary">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<table id="tableShow" class="table" width="100%" border="1px gray solid"></table>

<table id="processResult" class="table"></table>

<script>

    function uploadFile() {
        $('#myModal').modal('toggle');
    }

    function submitData() {
        var formData = new FormData();
        formData.append("file", $("#file")[0].files[0]);
        formData.append("file_name", fileName);

        $.ajax({
            url: "upload_file.json",
            method: "POST",
            dataType: "json",
            cache: false,
            processData: false,
            contentType: false,
            data: formData,
            success: function (data) {
                if (data.data) {
                    alert("数据上传成功！");
                    $('#myModal').modal("hide");
                    showFileData(data.data);
                }
            }
        });
    }

    function showFileData(data) {
        var colCount = data[0].split(",").length;
        var tr = $("<tr></tr>");
        for (var i = 0; i < colCount; i++) {
            $("<td><input type='checkbox'></td>").appendTo(tr);
        }
        tr.appendTo($('#tableShow'));

        for (var index in data) {
            var row = data[index];
            var cols = row.split(",");

            tr = $("<tr></tr>");
            for (var j = 0; j < cols.length; j++) {
                $("<td>" + cols[j].substr(0,4) + "</td>").appendTo(tr);
            }

            tr.appendTo($('#tableShow'));
        }
        $('#uploadStart').attr("disabled", "disabled");
        $('#doProcessButton').css("visibility", "visible");
    }

    function doProcess() {
        var boxes = $("body").find("input[type='checkbox']");
        var fieldOrders = [];

        for (var i = 0; i < boxes.length; i++) {
            if (boxes[i].checked) {
                fieldOrders.push(i);
            }
        }

        if (fieldOrders.length == 0) {
            alert("请选择需要处理的列！");
            return;
        }

        $.ajax({
            url: uri,
            method: "POST",
            dataType: "json",
            data: {
                "fields": fieldOrders.join(","),
            },
            success: function (data) {
                if (data.data) {
                    alert("数据处理成功！");
                    $('#tableShow').hide();
                    showProcessResult(data.data);
                }
            }
        });
    }

    function showProcessResult(data) {

    }
</script>

</body>
</html>